<nz-divider nzOrientation="left" nzText="Create Class"></nz-divider>

<form (ngSubmit)="submitForm()" [formGroup]="createClassForm" nz-form>
  <div nz-row nzAlign="middle" nzJustify="space-between">
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter the class name">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="className" nz-input placeholder="Class Name" required/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="16">
      <nz-form-item>
        <nz-form-control>
          <button [disabled]="!createClassForm.valid" [nzLoading]="createClassLoading" nz-button
                  nzType="primary">
            Create
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>


