<ng-container *ngIf="tokenVerified" [ngSwitch]="template">
  <ng-container *ngSwitchCase="'passwordRecoveryFormTemplate'">
    <div class="py-5" nz-row nzJustify="center" nzType="flex">
      <div nz-col nzLg="8" nzMd="10" nzSm="14" nzXl="6" nzXs="18">
        <nz-card>
          <form (ngSubmit)="submitPasswordRecoveryForm()" [formGroup]="passwordRecoveryForm" [nzLayout]="'horizontal'"
                nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="8">Password</nz-form-label>
              <nz-form-control [nzErrorTip]="errorPassword" [nzSpan]="12" nzHasFeedback>
                <input (ngModelChange)="updateConfirmValidator()" [placeholder]="'Min Length is '+ MIN_PASSWORD_LENGTH"
                       formControlName="password"
                       minlength="{{MIN_PASSWORD_LENGTH}}" nz-input
                       required type="password"/>
                <ng-template #errorPassword let-control>
                  <ng-container *ngIf="passwordRecoveryForm.controls['password'].hasError('required')">
                    Password cannot be empty
                  </ng-container>
                  <ng-container *ngIf="passwordRecoveryForm.controls['password'].hasError('minlength')">
                    Min Length is {{MIN_PASSWORD_LENGTH}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="8">Confirm Password</nz-form-label>
              <nz-form-control [nzErrorTip]="errorConfirmPassword" [nzSpan]="12" nzHasFeedback>
                <input [placeholder]="'Min Length is '+ MIN_PASSWORD_LENGTH" formControlName="confirmPassword"
                       minlength="{{MIN_PASSWORD_LENGTH}}"
                       nz-input
                       required type="password"/>
                <ng-template #errorConfirmPassword let-control>
                  <ng-container *ngIf="passwordRecoveryForm.controls['confirmPassword'].hasError('required')">
                    Please confirm your password
                  </ng-container>
                  <ng-container *ngIf="passwordRecoveryForm.controls['confirmPassword'].hasError('confirm')">
                    Two passwords that you enter is inconsistent
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button [disabled]="!passwordRecoveryForm.valid" nz-button nzType="primary">Change Password</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'forbiddenTemplate'">
    <nz-result nzStatus="info" nzTitle="{{errorMessage}}">
      <div nz-result-extra>
        <button (click)="backLoginPage()" nz-button nzType="primary">Back to login page</button>
      </div>
    </nz-result>
  </ng-container>

</ng-container>
