<div class="image">
  <div class="container">
    <div class="py-5" nz-row nzJustify="center" nzType="flex">
      <div nz-col nzLg="14" nzMd="16" nzSm="18" nzXl="10" nzXs="23">
        <h4 class="text-center p-3">Account Recovery</h4>
        <nz-input-group nzPrefixIcon="user">
          <input [(ngModel)]="username" nz-input placeholder="Username" type="text"/>
        </nz-input-group>
        <h6 class="text-center p-3">Please enter your account username to continue</h6>
        <button (click)="verifyUsername()" nz-button nzType="default">Next</button>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="showSendEmailTemplate ? confirmSendEmailTemplate : null"></ng-container>


    <ng-template #confirmSendEmailTemplate>
      <div nz-row nzJustify="center" nzType="flex">
        <div nz-col nzLg="8" nzMd="10" nzSm="14" nzXl="6" nzXs="18">
          <h6 class="text-center p-3">Qpoint will send a recovery email to account registered email.</h6>
          <button (click)=" sendRecoveryEmail()" [nzLoading]="sendRecoveryEmailLoading" nz-button nzType="default">Send
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
