<nz-list [nzBordered]="true" [nzLoading]="notificationLoading" [nzSize]="'large'" class="my-5"
         nzItemLayout="horizontal">
  <nz-list-item *ngFor="let notification of notifications">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        {{ notification.notificationTitle }}
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ notification.notificationMessage }}
        <br>
        <span class="font-weight-bold small">Created by: {{notification.createdByAdmin.username}}</span>
      </nz-list-item-meta-description>
    </nz-list-item-meta>

    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a (click)="editNotification(notification)" class="mr-2" nz-icon nzTheme="outline" nzType="edit"></a>
      </nz-list-item-action>
      <nz-list-item-action>
        <a (nzOnConfirm)="deleteNotification(notification)" [nzIcon]="deleteIconTpl" nz-icon nz-popconfirm
           nzPopconfirmTitle="Are you sure delete {{notification.notificationTitle}} notification?"
           nzTheme="outline"
           nzType="delete"></a>
        <ng-template #deleteIconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red;"></i>
        </ng-template>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-empty *ngIf="!notifications || notifications.length == 0"></nz-list-empty>
</nz-list>

<app-edit-notification-modal></app-edit-notification-modal>

