<nz-layout>
  <nz-sider [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="this.menuWidth" [nzTrigger]="null" nzBreakpoint="xl"
            nzCollapsible>
    <div class="p-2"><img alt="Qpoint logo" class="logo" src="../../../../assets/qpoint-logo.png"></div>
    <ul class="font-weight-bolder" nz-menu nzMode="inline" nzTheme="light">
      <li nz-menu-item nzMatchRouter>
        <div [routerLink]="['/', 'dashboard', 'main-dashboard-page']">
          <i nz-icon nzType="bar-chart"></i>
          <span>Dashboard</span>
        </div>
      </li>
      <li [nzOpen]="checkSubMenuOpen('student')" nz-submenu nzIcon="user" nzTitle="Student">
        <ul>
          <li [routerLink]="['/student/student-qrcode-list']" nz-menu-item nzMatchRouter>Student QR code</li>
          <li [routerLink]="['/student/manage-student']" nz-menu-item nzMatchRouter>Manage Student</li>
        </ul>
      </li>
      <li [nzOpen]="checkSubMenuOpen('staff')" nz-submenu nzIcon="team" nzTitle="Staff">
        <ul>
          <li [routerLink]="['/staff/teachers-activities']" nz-menu-item nzMatchRouter>Teachers' Activities</li>
          <li [routerLink]="['/staff/manage-staff']" nz-menu-item nzMatchRouter>Manage Teacher</li>
        </ul>
      </li>
      <li [nzOpen]="checkSubMenuOpen('class')" nz-submenu nzIcon="shop" nzTitle="Class">
        <ul>
          <li [routerLink]="['/class/class-dashboard']" nz-menu-item nzMatchRouter>Class Dashboard</li>
          <li [routerLink]="['/class/manage-class']" nz-menu-item nzMatchRouter>Manage Class</li>
        </ul>
      </li>
      <li [nzOpen]="checkSubMenuOpen('group')" nz-submenu nzIcon="group" nzTitle="Group">
        <ul>
          <li [routerLink]="['/group/group-dashboard']" nz-menu-item nzMatchRouter>Group Dashboard</li>
          <li [routerLink]="['/group/manage-group']" nz-menu-item nzMatchRouter>Manage Group</li>
        </ul>
      </li>
      <li [nzOpen]="checkSubMenuOpen('behaviour')" nz-submenu nzIcon="book" nzTitle="Behaviour">
        <ul>
          <li [routerLink]="['/behaviour/manage-behaviour']" nz-menu-item nzMatchRouter>Manage Behaviour</li>
        </ul>
      </li>
      <li [nzOpen]="checkSubMenuOpen('notification')" nz-submenu nzIcon="notification" nzTitle="Notification">
        <ul>
          <li [routerLink]="['/notification/manage-notification']" nz-menu-item nzMatchRouter>Manage Notification</li>
        </ul>
      </li>
      <li (click)="logout()" nz-menu-item style="color: hsl(0, 100%, 70%);">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="4">
          <i (click)="menuCollapsed()" [nzType]="foldIcon" class="trigger" nz-icon></i>
        </div>
        <div class="text-right px-4" nz-col nzSpan="20"><span
          class="font-weight-bold">{{loginAdmin?.username}}</span><span> - {{loginAdmin?.email}}</span></div>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let route of routes">{{route | titlecase }}</nz-breadcrumb-item>
      </nz-breadcrumb>

      <div class="inner-content">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>
<nz-footer class="font-weight-bold" style="background-color: #F7882F">
  <i nz-icon nzTheme="outline" nzType="copyright"></i> Qpoint ©2020 Implement By Qpoint Team
</nz-footer>
