<nz-table #filterTable [nzData]="studentsDisplay" [nzLoading]="tableLoading" class="my-5" nzSize="middle"
          nzTableLayout="fixed">
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumns"
        [nzFilterFn]="column.filterFn"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzSortDirections]="column.sortDirections"
        [nzSortFn]="column.sortFn"
        [nzSortOrder]="column.sortOrder"
        [nzWidth]="column.width"
        nzCustomFilter
    >
      {{ column.name }}

      <nz-filter-trigger *ngIf="column.name == 'Student Name'" [(nzVisible)]="searchVisible"
                         [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td>{{ data.studentId }}</td>
    <td>{{ data.fullName }}</td>
    <td>{{ data.dateCreated | date:'medium'}}</td>
    <td>{{ data.parent.email}}</td>
    <td [style.color]="data.totalBehaviourPoint>=0 ? 'green' :  'red'">{{data.totalBehaviourPoint}}</td>
    <td>{{ data.class ? data.class.className : "-" }}</td>
    <td>
      <nz-tag *ngFor="let group of data.groups"
              class="my-1"> {{group.groupName}}</nz-tag>
      <div *ngIf="data.groups.length == 0">-</div>
    </td>

    <td>
      <nz-row nzAlign="middle" nzJustify="center">

        <div *ngIf="data?.profileImagePath; else noProfilePicTemplate"><a (click)="openUpdateModal(data)" nz-icon
                                                                          nzTheme="outline"
                                                                          nzType="upload"></a></div>
        <ng-template #noProfilePicTemplate>
          <nz-badge [nzCount]="iconTemplate">
            <a (click)="openUpdateModal(data)" nz-icon nzTheme="outline" nzType="upload"></a>
          </nz-badge>
          <ng-template #iconTemplate>
            <i class="ant-scroll-number-custom-component" nz-icon nz-tooltip
               nzTooltipTitle="This student dont have a profile image. Please upload now" nzType="exclamation-circle"
               style="color: #f5222d"></i>
          </ng-template>
        </ng-template>

        <div class="ml-2">
          <a (nzOnConfirm)="deleteStudent(data)" [nzIcon]="deleteIconTpl" nz-icon nz-popconfirm
             nzPopconfirmTitle="Are you sure delete student {{data.fullName}} ?" nzTheme="outline"
             nzType="delete"></a>
          <ng-template #deleteIconTpl>
            <i nz-icon nzType="question-circle-o" style="color: red;"></i>
          </ng-template>
        </div>
      </nz-row>

    </td>

  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzFooter]="modalFooter">


  <nz-upload
    [(nzFileList)]="fileList"
    [nzBeforeUpload]="beforeUpload"
    [nzDisabled]="fileList.length >= 1"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    nzType="drag"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag image to this area to upload</p>
    <p class="ant-upload-hint">
      Only jpg, jpeg and png format is allowed
    </p>
  </nz-upload>

  <ng-template #modalFooter>
    <button (click)="handleCancel()" nz-button nzType="default">Cancel</button>
    <button (click)="handleOk()" [nzLoading]="uploadLoading" nz-button nzType="primary">Upload</button>
  </ng-template>

</nz-modal>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input [(ngModel)]="searchValue" nz-input placeholder="Search group name" type="text"/>
      <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">
        Search
      </button>
      <button (click)="reset()" nz-button nzSize="small">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
