<nz-table #filterTable [nzData]="allClassesDisplay" [nzLoading]="tableLoading" class="my-5" nzBordered
          nzSize="middle"
          nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzCustomFilter
        *ngFor="let column of listOfColumns"
        [nzFilterFn]="column.filterFn"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzSortDirections]="column.sortDirections"
        [nzSortFn]="column.sortFn"
        [nzSortOrder]="column.sortOrder"
        [nzWidth]="column.width"
    >
      {{ column.name }}
      <nz-filter-trigger *ngIf="column.name == 'Class Name'" [(nzVisible)]="searchVisible"
                         [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td>{{ data.classId }}</td>
    <td>{{ data.className }}</td>
    <td>{{ data.dateCreated | date:'medium'}}</td>
    <td>
      <div *ngIf="!data['showEditStudentColumn']">
        <nz-row nzAlign="middle" nzJustify="space-around">
          <div nz-col nzSpan="20">
            <div *ngIf="!data['studentsInClass'] || data['studentsInClass'].length == 0">-</div>
            <nz-tag *ngFor="let o of data['studentsInClass']"
                    class="my-1"> {{ idMapName(o, data['studentsOption'])}}</nz-tag>
          </div>
          <div nz-col nzSpan="2">
            <a (click)="data['showEditStudentColumn'] = true" nz-icon nzTheme="outline" nzType="edit"></a>
          </div>
        </nz-row>
      </div>
      <div *ngIf="data['showEditStudentColumn']">
        <nz-row nzAlign="middle" nzJustify="space-around">
          <div nz-col nzSpan="20">
            <nz-select [(ngModel)]="data['studentsInClass']" nzMode="tag" nzPlaceHolder="Select students"
                       style="width: 100%;">
              <nz-option *ngFor="let o of data['studentsOption']" [nzLabel]="o.label" [nzValue]="o.value"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="2">
            <a (click)="data['showEditStudentColumn'] = false; updateStudents(data);" nz-icon
               nzTheme="outline"
               nzType="check"></a>
          </div>
        </nz-row>
      </div>
    </td>
    <td>
      <div *ngIf="!data['showEditTeacherColumn']">
        <nz-row nzAlign="middle" nzJustify="space-around">
          <div nz-col nzSpan="20">
            <div *ngIf="!data['teachersInClass'] || data['teachersInClass'].length == 0">-</div>
            <nz-tag *ngFor="let o of data['teachersInClass']"
                    class="my-1">{{idMapName(o, data['teachersOption'])}}</nz-tag>
          </div>
          <div nz-col nzSpan="2">
            <a (click)="data['showEditTeacherColumn'] = true" nz-icon nzTheme="outline" nzType="edit"></a>
          </div>
        </nz-row>
      </div>
      <div *ngIf="data['showEditTeacherColumn']">
        <nz-row nzAlign="middle" nzJustify="space-around">
          <div nz-col nzSpan="20">
            <nz-select [(ngModel)]="data['teachersInClass']" nzMode="tag" nzPlaceHolder="Select teachers"
                       style="width: 100%;">
              <nz-option *ngFor="let o of data['teachersOption']" [nzLabel]="o.label" [nzValue]="o.value"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="2">
            <a (click)="data['showEditTeacherColumn'] = false; updateTeachers(data);" nz-icon nzTheme="outline"
               nzType="check"></a>
          </div>
        </nz-row>
      </div>
    </td>
    <td>
      <nz-row nzAlign="middle" nzJustify="center">
        <a (nzOnConfirm)="deleteClass(data)" [nzIcon]="iconTpl" nz-icon nz-popconfirm
           nzPopconfirmTitle="Are you sure delete this class {{data.className}}?" nzTheme="outline"
           nzType="delete"></a>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: hsl(0, 100%, 70%);"></i>
        </ng-template>
      </nz-row>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input [(ngModel)]="searchValue" nz-input placeholder="Search class name" type="text"/>
      <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">
        Search
      </button>
      <button (click)="reset()" nz-button nzSize="small">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
