[nz-carousel-content] {
  text-align: center;
  line-height: 100%;
  background: #364d79;
  color: #fff;
  overflow: hidden
}

div.image {
  background-image: url("src/assets/login_background1.png");
  height: 100vh;
}
