<app-side-navigation-bar>
  <div class="py-5" class="container justify-content-center">
    <input [(ngModel)]="searchStudentName" nz-input placeholder="Search student's name"/>
    <div class="m-4" nz-row nzJustify="center" nzType="flex">
      <button (click)="downloadPdf()" [nzLoading]="downloadIsLoading" [nzSize]="'large'" nz-button nz-col
              nzType="default">
        <i nz-icon nzType="download"></i>Download
      </button>
    </div>
    <ng-template #indicatorTemplate><i class="mt-5" nz-icon nzType="loading" style="font-size: 50px;"></i></ng-template>
    <nz-spin [nzIndicator]="indicatorTemplate" [nzSpinning]="qrCodeIsLoading">
      <div #downloadContent nz-row nzJustify="center" nzType="flex">
        <div *ngFor="let studentQr of studentQrList | filter:searchStudentName"
             nz-col nzLg="8" nzMd="10" nzSm="14" nzXl="6" nzXs="18">
          <nz-card (click)="createCopySuccessMessage(studentQr.studentName)" [cdkCopyToClipboard]="studentQr.qrCode"
                   [nzCover]="coverTemplate" [nzHoverable]="true" class="m-2">
            <nz-card-meta [nzAvatar]="avatarTemplate" nzDescription="This is the description"
                          nzTitle="{{studentQr.studentName}}"></nz-card-meta>
            <ng-template #coverTemplate>
              <img [src]="studentQr.qrCode" alt="{{studentQr.studentName}}+'s qrCode'"/>
            </ng-template>
            <ng-template #avatarTemplate>
              <nz-avatar [nzSize]="'large'" nzSrc="../../../../assets/photo.jpg"></nz-avatar>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </nz-spin>
  </div>
</app-side-navigation-bar>



