<app-side-navigation-bar>
  <div class="py-5" class="container justify-content-center">
    <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSuffix]="suffixTemplateInfo">
      <input [(ngModel)]="searchInput" nz-input placeholder="Search" type="text"/>
    </nz-input-group>
    <ng-template #prefixTemplateUser>
      <nz-badge [nzCount]="(studentQrList | filter: searchInput)?.length" [nzShowZero]="true"
                [nzStyle]="{ backgroundColor: '#F7882F' }" style="margin-right: 24px;">
        <nz-avatar [nzShape]="'square'" nzIcon="user" nzSize="small"></nz-avatar>
      </nz-badge>
    </ng-template>
    <ng-template #suffixTemplateInfo><i nz-icon nzType="search"></i></ng-template>

    <div class="m-4" nz-row nzJustify="center" nzType="flex">
      <button (nzOnConfirm)="downloadStudent()" [nzLoading]="downloadIsLoading"
              [nzSize]="'large'"
              nz-button
              nz-col nz-popconfirm nzPopconfirmTitle="Are you sure you want to download the student list below?"
              nzType="default">
        <i nz-icon nzType="download"></i>Download
      </button>
    </div>

    <ng-template #indicatorTemplate><i class="mt-5" nz-icon nzType="loading" style="font-size: 50px;"></i></ng-template>
    <nz-spin [nzIndicator]="indicatorTemplate" [nzSpinning]="qrCodeIsLoading">
      <div nz-row nzJustify="center" nzType="flex">
        <div *ngFor="let studentQr of studentQrList | filter: searchInput ; let i = index"
             nz-col nzLg="8" nzMd="10" nzSm="14" nzXl="6" nzXs="18">

          <nz-card
            (click)="createCopySuccessMessage(studentQr.student.fullName)" class="m-2 box"
            [cdkCopyToClipboard]="studentQr.qrCode"
            [nzCover]="coverTemplate"
            [nzHoverable]="true"
            id="{{ 'downloadContent' + i }}">
            <nz-card-meta [nzAvatar]="avatarTemplate" [nzDescription]="cardDescription" class="studentName"
                          nzTitle="{{studentQr.student.fullName}}"></nz-card-meta>
            <ng-template #coverTemplate>
              <img [src]="studentQr.qrCode" alt="{{studentQr.student.fullName}}+'s qrCode'"/>
            </ng-template>
            <ng-template #avatarTemplate>
              <div *ngIf="studentQr?.image ; else noProfilePicTemplate">
                <nz-avatar [nzSize]="'medium'" nzSrc="{{studentQr.image}}"></nz-avatar>
              </div>
              <ng-template #noProfilePicTemplate>
                <nz-avatar [nzIcon]="'user'" [nzSize]="'medium'" style="background-color:#687A8F;"></nz-avatar>
              </ng-template>
            </ng-template>
            <ng-template #cardDescription>
              <div class="small">
                <span *ngIf="studentQr.student.parent"
                      class="font-weight-bold">{{studentQr.student.parent?.email }}</span><br>
                <span> Class: {{studentQr.student.class ? studentQr.student.class?.className : "-"}}</span>
                <div>
                  <span>Group: </span>
                  <span *ngIf="studentQr.student.groups.length != 0 else emptyGroup">
                    <span
                      *ngFor="let group of studentQr.student.groups; index as i; last as isLast; first as isFirst"> {{group.groupName}}
                      <span *ngIf="!isLast">, </span>
                    </span>
                  </span>
                  <ng-template #emptyGroup>
                    <span>-</span>
                  </ng-template>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </nz-spin>
  </div>


</app-side-navigation-bar>



